/* Created by: colton
* Created on: june 2023
* This file contains the CSS for index.html
*/

body {
  background-color: green;
}




h1 {
  background-color: blue;
  color: white;
  padding: 40px;
  text-align: center
}